* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  --default-padding: 20px 40px;
  --licorice: #171219;
  --gunmetal: #1d343d;
  --midnight-green: #225560;
  --icterine: #edf060;
}

.page {
  box-shadow: 0 0 10px 1px rgba(143, 143, 143, 0.753);
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 15px 0;
  min-height: 1294px;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

button {
  position: absolute;
  cursor: pointer;
}

ul {
  position: relative;
}

.header-div {
  display: flex;
  justify-content: space-between;
  font-family: "Kanit", sans-serif;
  align-items: center;
  color: var(--licorice);
}

.header-title {
  font-size: 2em;
  margin: 0;
}

.profile-data {
  padding: var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gunmetal);
  color: white;
}

.profile-data .level-1-text {
  margin: 0;
  padding-bottom: var(--default-padding);
  font-size: 3em;
}

.profile-data .level-4-text {
  margin: 3px;
}

.education-data {
  position: relative;
  padding: var(--default-padding);
}

.work-data {
  position: relative;
  padding: var(--default-padding);
}

.add-button {
  font-size: 0.85em;
  color: white;
  left: -55px;
  background: var(--midnight-green);
  display: inline-block;
  width: 28px;
  position: absolute;
  height: 24px;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0;
}
.add-button:before {
  border-left: 16px solid var(--midnight-green);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  content: "";
  width: 0;
  top: 0;
  position: absolute;
  right: -16px;
  height: 0;
}

.duty-add-button {
  background-color: var(--midnight-green);
  color: white;
  border: none;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  font-size: 0.75em;
  padding: 0;
  left: -90px;
  top: 0;
}

.delete-button {
  font-size: 1em;
  left: -51px;
  background: var(--icterine);
  display: inline-block;
  width: 28px;
  position: absolute;
  height: 20px;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0;
}
.delete-button:before {
  border-left: 12px solid var(--icterine);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  width: 0;
  top: 0;
  position: absolute;
  right: -12px;
  height: 0;
}

.duty-delete-button {
  background-color: var(--icterine);
  border: none;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  font-size: 0.75em;
  padding: 0;
  left: -70px;
}

.level-1-text {
}

.level-2-text {
  border-bottom: solid var(--midnight-green) 3px;
  color: var(--licorice);
  margin-top: 0;
}

.level-3-text {
  color: var(--gunmetal);
}

.level-4-text {
  margin: 2px;
}

.level-1-text-edit {
  font-size: 2.5em;
  font-weight: 900;
  background-color: var(--icterine);
  outline: none;
  border: none;
  display: inline-flex;
  border-radius: 1em;
  padding: 0.25em 0.5em;
}

.level-3-text-edit {
  background-color: var(--icterine);
  outline: none;
  border: none;
  font-size: 1.16em;
  font-weight: 900;
  color: var(--gunmetal);
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border-radius: 1em;
  padding: 0.25em 0.5em;
}

.level-4-text-edit {
  background-color: var(--icterine);
  outline: none;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  display: inline-flex;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
}

.social-icon {
  color: var(--icterine);
  margin-right: 0.5em;
}
