* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.page {
  box-shadow: 0 0 10px 1px rgba(143, 143, 143, 0.753);
  width: 1000px;
  display: grid;
  margin: 20px 0 15px 0;
  padding: 20px;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}
